<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ashu's Labels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Doc: https://getbootstrap.com/docs/4.3/components/buttons/-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="/js/labelMain.js"></script>
 
</head>
<body style="background-size: cover;">

    <div class="container" id="app" style="display: None ;">
            <h2 onclick="history.back();"><span><i  style="cursor:pointer;" title="Home" class="material-icons">home</i></span>Manage Labels</h2>
            <div id="nodata" style="display: none;">Nothing to show <a href="index">Go back</a></div>
            <div v-if="loading">Loading....</div> 
            <form v-if="fileinfo">
                <ul class="list-group" style="opacity:90%;">
                    <span>
                        <!-- <li class="list-group-item disabled" aria-disabled="true">Cras justo odio</li> -->
                        <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
                        <filelabel v-if="fileinfo" @delete="deleteLabel" v-for="item in fileinfo.labels" :label="item" :allowdelete="item.text != fileinfo.category"></filelabel>
                    </span>

                    <li class="list-group-item">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" v-model="nlabelname" placeholder="Enter new label and press enter" />
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-success" @click="addlabel" value="Add" id="addlabel" />
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <div style="color: red;" v-show="!loading && !fileinfo">Invalid file id provided</div>
    </div>
</body>
<script>
    $( document ).ready(function() {
        $('#app').show();
    });
</script>
</html>
